.Cart {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    position: relative;
    box-sizing: border-box;
}

.Cart-head {
    background-image: url(../../../assets/images/shoppingcart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-Cart-head {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-Cart-head {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Lexend', sans-serif;
}

.Cart-body {
    margin: 2%;
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.child-Cart-body {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.073);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

.divlistCart{
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}
.divlistCart::-webkit-scrollbar { 
    background-color:transparent;
   width: 10px;
   
}
.divlistCart::-webkit-scrollbar-thumb {
    background-color: rgba(193, 7, 7, 0.516);
    border-radius: 10px;
}

.list-Cart {
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 14px;
    background-color: rgba(193, 7, 7, 0.516);
}

.nameMovie {
    width: 50%;
}

.amount {
    width: 25%;
    display: flex;
    justify-content: center;
}
.amount  > p{
    margin: 5%;
}
.btnam{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    color: white;

}
.btnam:hover{
    color: rgba(10, 6, 6, 0.516);
}

.price {
    width: 25%;
}
.price>input {
    width: 50%;
    height: 40px;
    text-align: center;
    margin: 0%;
    font-family: 'Lexend', sans-serif;
    background-color: transparent;
    color: white;
    border:none;

}

.price>input:focus {
    outline: none; 
    border-bottom: 1px solid red;
    box-sizing: border-box;
}

.price >input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cartempty {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divimg {
    margin-top: 2%;
    max-width: 20%;
    max-height: 50%;
    height: auto;
    padding: 3%;
    box-sizing: border-box;
    background-color: rgba(193, 7, 7, 0.974);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    opacity: 0.15;
}

.divimg>img {
    width: 98%;
}


.btncart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clearcartbtn {
    margin: 3%;
    width: 100%;
    height: 40px;
    font-family: 'Lexend', sans-serif;
    border-radius: 30px;
    font-weight: bold;
    color: rgba(193, 7, 7, 0.974);
    border: 2px solid rgba(193, 7, 7, 0.974);
    background-color: transparent;

}

#clearcartbtn:hover {
    background-color: rgba(193, 7, 7, 0.974);
    color: black;
}

#checkoutbtn {
    margin: 3%;
    width: 100%;
    height: 40px;
    font-family: 'Lexend', sans-serif;
    border-radius: 30px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid greenyellow;
    color: greenyellow;
}

#checkoutbtn:hover {
    background-color: greenyellow;
    color: black;
}

.divtotal {
    width: 100%;
}

.child-divtotal {
    width: 100%;
    display: flex;
    align-items: center;
}

.child-divtotal>p {
    width: 85%;
    text-align: right;
    margin: 1%;
    font-size: 12px;
}

#price {
    width: 19%;
    text-align: left;
    padding-left: 1%;
    font-size: 16px;
}


.Cart-body-head {
    width: 90%;
    display: flex;
    font-size: 20px;
    color: rgba(193, 7, 7, 0.516);

}

.Cart-body-head>div {
    width: 25%;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;

}

.Cart-body-head>#dmovie {
    width: 50%;
    text-align: center;
    padding: 2%;
    font-weight: bold;
}

.popup{
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.594);
}


