.navbar{
    width: 100%;
    height: 100px;
    background-color:black;
    display: flex;
}
.logo{
    width: 80%;
    color: white;
    display: flex;
    padding-left: 5%;
}
.logo-txt{
    width: 90%;
    font-family: 'Oswald', sans-serif;
    padding-left: 0.4% ;
}
.logo-img{
    width: 5%;
    background-image: url(../../../assets/images/logoicon.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.menu{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.divBtnCart {
    width: 20%;
    height: 100%;
}
.divBtnCart > button{
    background-image: url(../../../assets/images/shopping-cart.png);
    background-position: center;
    background-size: 60%;
    color: rgb(193, 7, 7);
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
   
}
.divBtnCart > button > p{
    margin: 0%;
    width: auto;
    padding-left: 10%;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    color: white;
    font-family: 'Lexend', sans-serif;
   
}
.divBtnCart > button:hover{
    background-size: 69%;
}
.divSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
}
.divSearch > input{
    width: 80%;
    height: 40%;
    border: none;
    border-bottom: 1px solid rgb(193, 7, 7);
    background-color: transparent;
    color: rgb(193, 7, 7);
    font-family: 'Lexend', sans-serif;
    outline: none;
    animation: inputsearch 2s ;
}
.divSearch > button{
    background-image: url(../../../assets/images/find.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border: none;
    width: 20%;
    height: 100%;
    background-color:transparent;
}
.divSearch > button:hover{
    background-size: 55%;
}



@keyframes inputsearch{
    from {width: 0%;}
    to { width: 80%;}
}

@media only screen and (max-width: 600px) {
    .logo{
        width: 65%;
    }
    .logo-img{
        width: 15%;
    }
    .logo-txt{
        width: 80%;
    }
    .menu{
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .divBtnCart > button{       
        background-position: center;
        background-size: 90%;
    }

    .divBtnCart > button > p{
        padding-left: 35%;
    }

    .divBtnCart > button:hover{
        background-size: 95%;
    }
    .divBtnCart > button{
        background-size: 100%;
    }
    .divSearch > button{
        background-size: 90%;
    }
    .divSearch > button:hover{
        background-size: 95%;
    }

  }


