.desMovies {
    width: 100%;
    height: 290px;
    display: flex wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 2, 2, 0.842);
    overflow-y: scroll;
}
.desMovies::-webkit-scrollbar { 
    background-color:transparent;
   width: 5px;
   
}
.desMovies::-webkit-scrollbar-thumb {
    background-color: rgba(193, 7, 7, 0.516);
}

.child-desMovies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.child-desMovies > p {
    font-size: 12px;
    margin: 0% 2% 2%;
}
