.child-popup{
    margin: 0% auto;
    padding: 2%;
    width: 60%;
    height: 100vh;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(91, 91, 91);
    overflow-y: scroll;
}
.txtCheckout{
    width: 100%;
    padding: 1%;
    background-color: rgba(193, 7, 7, 0.974);
    font-weight: bold;
    color: white;
    box-sizing: border-box;
}
#checkout{
    width: 200px;
    height: 40px;
    font-family: 'Lexend', sans-serif;
    border-radius: 30px;
    font-weight: bold;
    background-color: greenyellow;
    border: none;
    color: white;
    margin: 1%;
}
.listorder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listorder > table{
    width: 90%;
}
.listorder > table > th{
    font-size: 25px;
    width: 32%;
    padding: 2%;
    box-sizing: border-box;
    border-bottom: 0.5 solid black;
}
.listorder > table >  tr > td {
    width: 32%;
    padding: 2%;
    box-sizing: border-box;
}
#cancel{
    width: 200px;
    height: 40px;
    font-family: 'Lexend', sans-serif;
    border-radius: 30px;
    font-weight: bold;
    background-color: rgba(193, 7, 7, 0.974);
    border: none;
    color: white;
    margin: 1%;
}
.btnpopup{
    width: 100%;
    margin-top: 1%;
}
#btnpromtpay{
   width: 200px;
   height: 80px;
   background-image: url(../../../assets/images/promt-pay-logo.jpeg);
   background-position: center;
   background-size: 60%;
   background-repeat: no-repeat;
   border: 0.5px solid rgba(0, 0, 0, 0.5);
   background-color: transparent;
   margin-right: 1%;
 }
 #btncash{
   width: 200px;
   height: 80px;
   background-image: url(../../../assets/images/cash-on-delivery.png);
   background-position: center;
   background-size: 50%;
   background-repeat: no-repeat;
   border: 0.5px solid rgba(0, 0, 0, 0.5);
   background-color: transparent;
 }

#qrcode{
    display: none;
    width: 100%;
    
}
.child-qrcode{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgqrcode{
    width: 30%;
}
.imgqrcode > img{
    width: 100%;
}
