.contentpopup {
    width: 100%;
    height: 100vh;
     display: grid;
     grid-template-columns: 65% 35%;
     padding: 3%;
     box-sizing: border-box;
}

.childcontent1{
    width: 100%;
    /* height: 100%;  */
    backdrop-filter: blur(10px);
    background-color: rgba(43, 43, 43, 0.213);
    padding: 3%;
    box-sizing: border-box;
}
.childcontent2{
    width: 100%;
    /* height: 100%; */
    backdrop-filter: blur(10px);
    background-color: rgba(43, 43, 43, 0.489);
    display: flex;
    flex-direction: column;
}


.child-popup {
    text-align: center;
    overflow-y: hidden;
    color: white;
}

.child-popup::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.child-popup::-webkit-scrollbar-thumb {
    background-color: rgba(16, 255, 72, 0.516);
}

.txtCheckout {
    width: 100%;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    text-align: left;
    padding-left: 5%;
}

#checkout {
    width: 200px;
    height: 40px;
    font-family: 'Lexend', sans-serif;
    border-radius: 30px;
    font-weight: bold;
    background-color: greenyellow;
    border: none;
    color: white;
    margin: 1%;
}

.listorder {
    width: 100%;
}

.listorder>table {
    width: 90%;
}
.head-list{
    background-color: rgba(114, 21, 21, 0.774);
    width: 100%;
    display: grid;
     grid-template-columns: 50% 25% 25%;
}
.body-list{
    height: 280px;
    padding: 1%;
    box-sizing: border-box; 
    overflow-y: scroll;
}
.body-list::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}
.body-list::-webkit-scrollbar-thumb {
    background-color: rgba(231, 20, 20, 0.516);
    border-radius: 20px;
}
.body-list > div{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    font-size: 13px;
}

.summary{
    display: grid;
    grid-template-columns: 75% 25%;
    font-size: 14px;
    padding: 1%;
    box-sizing: border-box; 
}
.summary > #txtsummary{
   text-align: right;
   font-weight: bold;
   color: rgb(193, 7, 7);
}

#cancel {
    width: 200px;
    height: 40px;
    font-family: 'Lexend', sans-serif;
    border-radius: 30px;
    font-weight: bold;
    background-color: rgba(193, 7, 7, 0.974);
    border: none;
    color: white;
    margin: 1%;
}

.btnpopup {
    justify-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.btpayment{
    width: 100%;
    display: flex;
    justify-content: center;
}

#btnpromtpay {
    width: 20%;
    height: 80px;
    background-image: url(../../../assets/images/promt-pay-logo.webp);
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    border: 1px solid rgb(44, 44, 44);
    background-color: transparent;
    margin-right: 5%;
}

#btncash {
    width: 20%;
    height: 80px;
    background-image: url(../../../assets/images/cash-on-delivery.png);
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
    border: 1px solid rgb(44, 44, 44);
    background-color: transparent;
}
.paymentmethod{
    width: 100%;
    text-align: left;
}

.payment{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#qrcode {
    display: none;
    width: 100%;
 
}

.child-qrcode {
    width: 100%;  
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgqrcode {
    width: 60%;
}

.imgqrcode>img {
    width: 100%;
    margin-bottom: 5%;
    filter: brightness(190%);
}

#address {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.spinfo{
    width: 80%;
}

.address-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}

.address-detail>div>select {
    width: 90%;
    height: 40px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    border: none;
    border-bottom: 1px solid rgb(114, 21, 21);
    background-color: transparent;
    color: white;
}

.address-detail>div>input {
    width: 90%;
    height: 35px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    border: none;
    border-bottom: 1px solid rgb(114, 21, 21);
    background-color: transparent;
    color: white;

}
.address-detail> div>p {
    font-size: 12px;
    width: 100%;
    margin: 0%;
    margin-top: 10%;
}

.address-detail>input {
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    border-bottom: 1px solid rgb(114, 21, 21);
    background-color: transparent;
    color: white;
}

.address-detail>p {
    width: 100%;
    margin:  0% ;
    margin-top: 10%;
    color: white;  
    font-size: 12px;
}

#choosepm{
    height: 100%;
    display: flex;
    align-items: center;
}

