.movieList {
    width: 100%;
    padding: 5%;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

.movieList-head {
    background-image: url(../../../assets/images/theater.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.child-movieList-head {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-movieList-head>p {
    text-align: center;
    font-size: 2.5rem;
}

.movieList-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.content{
    background-color: aqua;
}

.divMovieCard {
    width: 15%;
    max-height: 500px;
    margin: 1%;
    align-self: start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageMovie {
    width: 100%;
    max-height: 300px;
}

.imageMovie>img {
    width: 100%;
    height: 100%; 
}


.nameMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}
.rating{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.rating > img{
    width: 10%;
}
.rating > label{
    margin-left: 5%;
    font-size: 15px;
    font-family: 'Archivo Black', sans-serif;
}

.nameMovie>p {
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0%;
    margin-top: 5%;
    color: white; 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.nameMovie>button {
    margin-top: 2%;
    border: none;
    width: 20%;
    height: 40px;
    border-radius: 50px;
    background-image: url(../../../assets/images/add-to-cart.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 0.6;
}

.nameMovie>button:hover {
    opacity: 1;
}

.hidedivcart {
    display: none;
}
.hidedivdesc {
    position: absolute;
   width: 100%;
  
}

.btnchangepage {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn>p {   
    margin: 0%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.btn>button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 0%;
    border: 1px solid rgb(113, 19, 19);
    background-color: transparent;
    color: rgb(113, 19, 19);
    font-family: 'Lexend', sans-serif;
}

.btn>button:hover {
    color: red;
    border: 1px solid red;
}

.ictop>img {
    max-width: 40px;
    background-color: rgb(113, 19, 19);
    border-radius: 50%;
}

.ictop>img:hover {
    background-color: red;
}

