<div class="movieList">
    <div class="movieList-head">
        <div class="child-movieList-head">
            <p> Movies Popular</p>
        </div>

    </div>
    <div class="movieList-body" id="divmovielist">
        <div class="divMovieCard" *ngFor=" let item of data.poppulaMovies">
            <div class="imageMovie">
               
                <ng-template [ngIf]="item.poster_path !== null" [ngIfElse]="imgnull">
                     <img src={{url.image+item.poster_path}}>
                     
                </ng-template>
                <ng-template #imgnull>
                    <p>imgnull</p>
                </ng-template>
            </div>
            <div class="nameMovie">
                <p #nameMovie id={{item.title}}>{{item.title}} </p>
                <button (click)="passData(nameMovie.id)"></button>
            </div>

        </div>

    </div>

    <div class="btnchangepage">
        <div class="btn"> 
            <ng-template [ngIf]="cvnum > 1" [ngIfElse]="hidebtnprev">
                <button (click)="prevpage()"> Prev </button>
            </ng-template>
            <ng-template #hidebtnprev>
            </ng-template>
            <p>Page {{cvnum}} - {{FormatTotalPage}}</p>
            <button (click)="nextpage()"> Next </button>
        </div>
        <div class="ictop">
            <img src="../../../assets/images/top.png" (click)="totop()" />
        </div>
    </div>



    <div class="hidedivcart"> <app-cart [dataMovie]="Movie"></app-cart></div>


</div>
