/* You can add global styles to this file, and also import other style files */ 

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend:wght@300&family=Oswald&family=Rozha+One&display=swap');

body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-color: black;
}

 
